body {
  background: #d5dde9;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: white;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  top: 120px;
}

h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
}

h3 {
  color: #f4d03f;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
}

h4 {
  color: white;
  line-height: 5px;
  font-size: 10px;
  font-weight: 400;
}

h5 {
  color: #48484a;
  line-height: 15px;
  font-size: 10px;
  font-weight: 400;
  margin: 0 auto;
  letter-spacing: -0.5px;
}

h6 {
  color: #c9a100;
  line-height: 0px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.5px;
}

p {
  color: #1d57a4;
  line-height: 5px;
  font-size: 10px;
  font-weight: 400;
}

ul {
  padding: 0;
}

li {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #48484a;
}

a:hover {
  text-decoration: none;
  font-weight: 700;
  background: #ffe66f;
  color: #48484a;
  cursor: pointer;
  transition: all 0.5s ease;
}

.WeatherTemperature {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-align: center;
}

.unit a {
  text-decoration: none;
  font-weight: 700;
  color: #ffe66f;
}

.unit a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #c9a100;
  background: none;
}

.container1 {
  position: absolute;
  top: 30px;
  left: 33px;
  right: 33px;
}

.signature {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: rotate(90deg);
  text-transform: uppercase;
}

.sheCodes {
  position: absolute;
  top: 50%;
  left: -67%;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.wrapper {
  float: left;
  position: relative;
  left: 50%;
  margin-top: 40px;
}

.PhoneBorder2 {
  float: left;
  position: relative;
  left: -50%;

  background: rgb(230, 237, 247);
  background: linear-gradient(
    113deg,
    rgba(230, 237, 247, 1) 33%,
    rgba(194, 207, 219, 1) 100%
  );
  border-radius: 38px;
  border: 1px solid white;
  width: 299px;
  height: 590px;
  box-shadow: 10px 9px 45px -17px rgba(0, 0, 0, 0.5);
}

.PhoneBackground2 {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 280px;
  height: 570px;
}

.PhoneBorder2 .topCurve {
  width: 47%;
  height: 19px;
}

.PhoneBorder2 .bottomLine {
  width: 47%;
  background-color: rgb(221, 230, 240);
}

.wrapper {
  float: left;
  position: relative;
  left: 50%;
  margin-top: 40px;
}

#hello {
  float: left;
  margin-bottom: 60px;
}
#time {
  position: absolute;
  top: -130px;
  right: 0px;
}

.PhoneBorder1 {
  float: left;
  position: relative;
  left: -50%;
  margin-right: 30px;
  margin-top: 20px;
  background: rgb(230, 237, 247);
  background: linear-gradient(
    113deg,
    rgba(230, 237, 247, 1) 33%,
    rgba(194, 207, 219, 1) 100%
  );
  border-radius: 38px;
  border: 1px solid white;
  width: 259px;
  height: 549px;
  box-shadow: 10px 9px 45px -17px rgba(0, 0, 0, 0.5);
}

.PhoneBackground1 {
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(29, 86, 164);
  background: linear-gradient(
    326deg,
    rgba(29, 86, 164, 1) 38%,
    rgba(132, 168, 217, 1) 100%
  );
  border-radius: 30px;
  width: 240px;
  height: 530px;
}

.ResultsLeft {
  position: absolute;
  width: 190px;
  height: 350px;
  top: 180px;
  left: -260px;
}
.ResultsRight {
  position: absolute;
  width: 230px;
  height: 400px;
  top: -70px;
  left: 290px;
}

.topCurve {
  position: absolute;
  top: 10px;
  left: 80px;
  width: 40%;
  height: 15px;
  background-color: rgba(230, 237, 247, 1);
  border-radius: 0px 0px 40px 40px;
}

.bottomLine {
  position: absolute;
  bottom: 30px;
  left: 80px;
  width: 40%;
  height: 5px;
  background-color: rgb(202, 210, 221);
  border-radius: 20px;
}

.container2 {
  position: absolute;
  top: 60px;
  left: 33px;
  right: 20px;
  bottom: 60px;
}

.container2 h1 {
  color: #6f96cd;
  font-weight: 800;
  font-size: 25px;
  line-height: 10px;
}

.container2 h2 {
  color: #6f96cd;
  line-height: 10px;
}

.forecast {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.weatherIcon {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.forecastIcon {
  width: 50%;
  left: 0;
}

.forecastDescription {
  position: absolute;
  left: 70px;
  top: 0px;
  width: 50%;
  height: 36px;
  border: none;
  border-radius: 4px;
  padding: 5px 0 0 8px;
  background: #e5edf7;
}

#firstForecast {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#secondForecast {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#thirdForecast {
  position: absolute;
  top: 140px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#fourthForecast {
  position: absolute;
  top: 210px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#fithForecast {
  position: absolute;
  top: 280px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#search {
  font-family: "Source Code Pro", monospace;
  letter-spacing: -0.5px;
  font-size: 12px;
  position: relative;
  text-transform: capitalize;
  margin: 40px 10px 10px 0;
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  width: 79%;
  background: #dbe5eb;
  box-shadow: inset 2px 2px 2px #959ca0, inset -4px -4px 4px #ffffff;
}

#submit {
  position: relative;
  margin: 40px 0px 10px 0;
  border: none;
  border-radius: 7px;
  padding: 1px 6px 3px 6px;
  background: linear-gradient(145deg, #ffe66f, #dbc25e);
  box-shadow: 3px 3px 5px #525252, -1px -1px 2px #dbdbd9;
  color: #1e56a3;
  cursor: pointer;
  transition: all 1s ease;
}

#submit:hover {
  background: linear-gradient(145deg, #faf6e0, #f0dc8f);
}
