body {
  background: #d5dde9;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: white;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  top: 120px;
}

h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
}

h4 {
  color: white;
  line-height: 5px;
  font-size: 10px;
  font-weight: 800;
}

p {
  color: #1d57a4;
  line-height: 5px;
  font-size: 10px;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #48484a;
}

a:hover {
  text-decoration: none;
  font-weight: 700;
  background: #ffe66f;
  color: #48484a;
  cursor: pointer;
  transition: all 0.5s ease;
}

.wrapper {
  float: left;
  position: relative;
  left: 50%;
  margin-top: 40px;
}

.PhoneBorder2 {
  float: left;
  position: relative;
  left: -50%;

  background: rgb(230, 237, 247);
  background: linear-gradient(
    113deg,
    rgba(230, 237, 247, 1) 33%,
    rgba(194, 207, 219, 1) 100%
  );
  border-radius: 38px;
  border: 1px solid white;
  width: 299px;
  height: 590px;
  box-shadow: 10px 9px 45px -17px rgba(0, 0, 0, 0.5);
}

.PhoneBackground2 {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 280px;
  height: 570px;
}

.PhoneBorder2 .topCurve {
  width: 47%;
  height: 19px;
}

.PhoneBorder2 .bottomLine {
  width: 47%;
  background-color: rgb(221, 230, 240);
}

#hello {
  float: left;
  margin-bottom: 60px;
}

.PhoneBorder1 {
  float: left;
  position: relative;
  left: -50%;
  margin-right: 30px;
  margin-top: 20px;
  background: rgb(230, 237, 247);
  background: linear-gradient(
    113deg,
    rgba(230, 237, 247, 1) 33%,
    rgba(194, 207, 219, 1) 100%
  );
  border-radius: 38px;
  border: 1px solid white;
  width: 259px;
  height: 549px;
  box-shadow: 10px 9px 45px -17px rgba(0, 0, 0, 0.5);
}

.PhoneBackground1 {
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(29, 86, 164);
  background: linear-gradient(
    326deg,
    rgba(29, 86, 164, 1) 38%,
    rgba(132, 168, 217, 1) 100%
  );
  border-radius: 30px;
  width: 240px;
  height: 530px;
}

.topCurve {
  position: absolute;
  top: 10px;
  left: 80px;
  width: 40%;
  height: 15px;
  background-color: rgba(230, 237, 247, 1);
  border-radius: 0px 0px 40px 40px;
}

.bottomLine {
  position: absolute;
  bottom: 30px;
  left: 80px;
  width: 40%;
  height: 5px;
  background-color: rgb(202, 210, 221);
  border-radius: 20px;
}

.signature {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: rotate(90deg);
  text-transform: uppercase;
}

.sheCodes {
  position: absolute;
  top: 50%;
  left: -67%;
  transform: rotate(-90deg);
  text-transform: uppercase;
}
