.wrapper {
  float: left;
  position: relative;
  left: 50%;
  margin-top: 40px;
}

#hello {
  float: left;
  margin-bottom: 60px;
}
#time {
  float: right;
  margin-bottom: 60px;
}

.PhoneBorder1 {
  float: left;
  position: relative;
  left: -50%;
  margin-right: 30px;
  margin-top: 20px;
  background: rgb(230, 237, 247);
  background: linear-gradient(
    113deg,
    rgba(230, 237, 247, 1) 33%,
    rgba(194, 207, 219, 1) 100%
  );
  border-radius: 38px;
  border: 1px solid white;
  width: 259px;
  height: 549px;
  box-shadow: 10px 9px 45px -17px rgba(0, 0, 0, 0.5);
}

.PhoneBackground1 {
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(29, 86, 164);
  background: linear-gradient(
    326deg,
    rgba(29, 86, 164, 1) 38%,
    rgba(132, 168, 217, 1) 100%
  );
  border-radius: 30px;
  width: 240px;
  height: 530px;
}

.topCurve {
  position: absolute;
  top: 10px;
  left: 80px;
  width: 40%;
  height: 15px;
  background-color: rgba(230, 237, 247, 1);
  border-radius: 0px 0px 40px 40px;
}

.bottomLine {
  position: absolute;
  bottom: 30px;
  left: 80px;
  width: 40%;
  height: 5px;
  background-color: rgb(202, 210, 221);
  border-radius: 20px;
}
