.wrapper {
  float: left;
  position: relative;
  left: 50%;
  margin-top: 40px;
}

.PhoneBorder2 {
  float: left;
  position: relative;
  left: -50%;

  background: rgb(230, 237, 247);
  background: linear-gradient(
    113deg,
    rgba(230, 237, 247, 1) 33%,
    rgba(194, 207, 219, 1) 100%
  );
  border-radius: 38px;
  border: 1px solid white;
  width: 299px;
  height: 590px;
  box-shadow: 10px 9px 45px -17px rgba(0, 0, 0, 0.5);
}

.PhoneBackground2 {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 280px;
  height: 570px;
}

.PhoneBorder2 .topCurve {
  width: 47%;
  height: 19px;
}

.PhoneBorder2 .bottomLine {
  width: 47%;
  background-color: rgb(221, 230, 240);
}
